body {
    background-color: #caf0f8;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    color: #03045e;
}

h3 {
    font-weight: bold;
}

p {
    color: #03045e;
}

button {
    font-size: large;
    font-weight: bold;
    width: fit-content;
    background-color: #90e0ef;
    border-color: grey;
}

span {
    font-size: 13px;
    background-color: aqua;
}

button:hover {
    background-color: #2ec4b6;
    color: darkblue;
}

a {
    text-decoration: none;
}

button:active {
    background-color: #3764d7;
}

a:hover {
    text-decoration: underline;
}


h3::first-letter {
    font-size: 30px;
    color: #48cae4;
}

p::first-line {
    color: #4895ef;
}