<%- include('partials/head') %>


    <%- include('partials/navbar') %>
        <h1> Home page <%='hello world'.toUpperCase() %>
        </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus commodi at aliquid
            reprehenderit
            consequatur incidunt et. Quis enim ab exercitationem! Accusantium vitae unde, non neque a ratione sint
            beatae!
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus commodi at aliquid
            reprehenderit
            consequatur incidunt et. Quis enim ab exercitationem! Accusantium vitae unde, non neque a ratione sint
            beatae!
        </p>
        <%- include('partials/footer') %>